{% extends 'base.html' %}
{% block start %}
<div class="container mt-5">
    <form class="col-6 mx-auto" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>Login</h2>
      <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input type="name" class="form-control" id="exampleFormControlInput1" >
</div>
        <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Password</label>
  </div>
  <div class="col-auto">
    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
</div>
      <p>Dont have account?<a href="/register/">Register</a></p>


      <button type="submit" class="btn btn-primary">Login</button>




</form>



</div>



{% endblock %}


